<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Deliberações <span ng-show="tematica.eventos.length" class="tooltip-demo"><button  type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="{$ tematica.descricao $}" ><i class="fa fa-tag fa-fw"></i>{$ tematica.tipo $}</button></span></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
            <div class="panel-body" ng-show="errors">
                    <div class="alert alert-danger" ng-repeat="error in errors track by $index">
                        {$ error $}
                    </div>
                </div>
        <div class="col-lg-8"  ng-show="!errors.length">
    
                
            <div class="panel panel-default" ng-repeat="evento in tematica.eventos track by $index">
                <div class="panel-heading">
                    <i class="fa fa-users fa-fw"></i> {$ evento.evento $}
                    <div class="pull-right">
    
                        <!-- PERMITIR PARA STAFF-->
                        
                        <div class="btn-group" ng-show="user.is_staff">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Ações
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Adicionar deliberação</a>
                                </li>
                                <li><a href="#">Editar deliberações</a>
                                </li>
                                <li><a href="#">Remover deliberações</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body"><div class="list-group">
                    <div class="list-group-item" ng-repeat="deliberacao in evento.deliberacoes track by $index">
                        <p><b>Responsabilidade:</b></p>    
                    <div class="tooltip-demo">
                            <button ng-repeat="resp in deliberacao.responsaveis track by $index" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="{$ resp.descricao $}" ><i class="fa fa-user fa-fw"></i>{$ resp.tipo $}</button>
                    </div> 
                            <p><b>Texto original:</b></p>
                            <p >{$ deliberacao.descricao $}</p>
                            <p><b>Temática:</b></p>
                    <div class="tooltip-demo">
                            <button ng-repeat="resp in deliberacao.tematicas track by $index" type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="{$ resp.descricao $}" ><i class="fa fa-tag fa-fw"></i>{$ resp.tipo $}</button>
                    </div> 

                    </div>
                        
                    
                </div></div>
                <!-- /.panel-body -->
            </div>
                </div>
                <!-- /.col-lg-8 -->
    
    
    
        <div class="col-lg-4"  ng-show="!errors.length">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter fa-fw"></i> Filtrar por temática
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#!tematicas/deliberacoes/{$ tematica.id $}" class="list-group-item" ng-repeat="tematica in tematicas track by $index">
                            <i class="fa fa-tag fa-fw"></i> {$tematica.tipo$}
                            <span class="pull-right text-muted small"><em>522</em>
                            </span>
                        </a>
                        
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->